body,
html {
  font-family: Quicksand, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#root {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
}